<% provide :page_title, "Add" %>
<% currently_at "Add" %>

<!-- ------------------------------------ -->



<!-- ------------------------------------ -->

<div class="container col-xxl-8 px-4 py-5">

         <h1 class="display-4 fw-bold lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Add an ad or post an idea!</font></font></h1>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
           

</font></font></p><br><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to "Sell a franchise", new_franchise_path, class: "btn btn-outline-success btn-lg px-4 me-md-2"%>

          <%= link_to "Sell business", new_franchise_path, class: "btn btn-outline-primary btn-lg px-4 me-md-2"%>

          <%= link_to "Post a startup", new_franchise_path, class: "btn btn-outline-danger btn-lg px-4 me-md-2"%>

          <%= link_to "Share an idea", new_franchise_path, class: "btn btn-outline-warning btn-lg px-4 me-md-2"%>
        </div>
      </div>
    </div>
  </div>
           