<% provide :page_title, t('menu.home') %>
<% currently_at t('menu.home') %>
<div class="mb-4 mt-4 text-center">
  <h1 class="display-4 fw-bold lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><%= t 'pages.index.title' %></font></font></h1>
</div>
<!-- ------------------------------------ -->



<!-- ------------------------------------ -->

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="inv.png" class="d-block mx-lg-auto img-fluid" alt="Темы Bootstrap" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Invebos</font></font></h1>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
           

.</font></font></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Начальный</font></font></button>
          <button type="button" class="btn btn-outline-warning btn-lg px-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дефолт</font></font></button>
        </div>
      </div>
    </div>
  </div>


<!-- ------------------------------------  -->
<!-- ------------------------------------  -->

<div class="bg-dark text-secondary px-4 py-5 text-center mb-4">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Start your business with us</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Our goal is to help entrepreneurs at all stages: in choosing a business, launching it and successfully operating it. Therefore, we have made a portal useful not only for franchisors and franchisees, but also for every businessman..</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info  btn-lg px-4 me-sm-3 fw-bold">Add sentence</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">See conditions</button>
        </div>
      </div>
    </div>
  </div>


<!--       -------------------------------  -->

<div class="card text-center  mb-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Franchise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bussines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Startap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bussines idea</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
     <input type="text" class="form-control mb-4 " placeholder="Username" aria-label="Username" >
    <a href="#" class="btn btn-primary btn-lg"><i class="bi bi-search"></i>  Search</a>
  </div>
</div>



<!-- aria-label="..." on the control -->

<!--       -------------------------------  -->

<!--       -------------------------------  -->

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Category Bussines</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <i class="bi-bootstrap flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        <div>

          <%= link_to 'Auto', franchises_path(id_franchise_type: "Auto") %>

          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-cpu-fill flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-calendar3 flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-house-door flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-speedometer2 flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-toggles2  flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-geo-fill flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>
        
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-tools flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>

        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-tools flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>

        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-tools flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>

        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-tools flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>

        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi-tools flex-shrink-0 me-2" style="font-size: 2rem; color: green;"></i>


        
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>


   <!-- -------------------------------------   -->
  

