<% provide :page_title, "Franchises" %>
<% currently_at 'Franchises' %>

<h1 class="mb-4">Franchises</h1>

<%= link_to "New franchise", new_franchise_path, class: 'btn btn-outline-info btn-lg mb-3' %>

<%= pagination @pagy %>

<%= render @franchises %>

<%= pagination @pagy %>
