@import 'bootstrap';

.field_with_errors {
  .form-control {
    border-color: $red;
  }
  label {
    color: $red;
  } 
} 


.page-footer {
  .container {
    border-color: $gray-900;
  }
  label {
    color: $red;
  }
}
